@font-face {
  font-family: 'Fira Mono';
  src: url(assets/FiraMono-Regular.otf);
}

/* Resets */
input,
button {
  font-family: unset;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
  font-family: 'Fira Mono', monospace;
}

#app {
  min-width: 1020px;
  max-width: 1440px;
  min-height: 600px;
  max-height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 1fr 3fr 1fr;
}

#header {
  grid-column: 1 / 4;
}

#lhs {
  grid-column: 1 / 2;
}

#calendar {
  grid-column: 2 / 3;
}

#rhs {
  grid-column: 3 / 4;
}
